.add-product-frm{
  width: 40%;
  margin: 0 auto;
}
.form-cont{
  width: 40%;
  margin: 0 auto;
}
h3{text-align: center;}
.product-form {
  width: 30rem;
  max-width: 90%;
  margin: auto;
  display: block;
  float: left;
}

.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea {
  display: block;
  width: 100%;
  margin-bottom: 0.25rem;
}

.form-control input,
.form-control textarea {
  border: 1px solid #a1a1a1;
  font: inherit;
  border-radius: 2px;
}

.form-control input:focus,
.form-control textarea:focus {
  outline-color: #00695c;
}

.prod-iframe{
  float: right;
  width: 500px;
  height: 600px;
}

input[type=number] {width: 80px;}
.product-image{float: right; width: 30%;}
