.input-frm{
    width: 300px; 
    padding: 10px;
    margin: 0 auto; 
    height: 200px; 
    border: 1px solid black; 
    text-align: center; 
    float: left;
}
.controls{width: 95%; padding: 10px;}
.controls label{display: block; margin-bottom: 10px;}
.controls input[type=text]{width: 150px; padding: 5px; margin-bottom: 20px;}
.btn{border: 1px solid black; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; padding-right: 5px;}
.list-cont-lft{}

.user-table{
    width: 100%;
    border-collapse: collapse; 
}
.user-table th{
    background: #D6D6D6;
    font-size: 1rem;
    font-weight: 400;
    color: #474443;
    border-bottom: solid thin #C1C1C1;
    border-right: solid thin #C1C1C1;
    border-top: solid thin #D6D6D6;
    border-left: solid thin #D6D6D6; 
    padding: 10px;
    
}
.user-table td{
    padding: 6px 10px;
    font-size: 1rem;
    font-weight: 400;
    color: #474443;
    border-bottom: solid thin #C1C1C1;
    border-right: solid thin #C1C1C1;
    border-top: solid thin #D6D6D6;
    border-left: solid thin #D6D6D6;
}

.user-table tr:nth-child(odd) {
    background: #FFFFFF;
    border-bottom: solid thin #C1C1C1;
    border-right: solid thin #C1C1C1;
    border-top: solid thin #D6D6D6;
    border-left: solid thin #D6D6D6;
}

h3{text-align: center;}
.content{
    margin-top: 100px;
    width: 500px; margin: 0px auto; padding: 10px; height: 300px; border: 1px solid black;}
.status{font-weight: bold;}
.active{color: green;}
.blocked{color: red;}
.pending{color: orange;}