<!DOCTYPE html>
<html>

<head>
  <% include ../../includes/header.ejs %>
  <style>
   
  </style>
</head>

<body class="change-style">
  <% include ../../includes/nav.ejs %>
    <div class="jumbotron text-center">
      <div class="container">
        <h1>
          <%= title %>
        </h1>
        <p>Session Counter</p>
      </div>
    </div>
    <div class="container">
      <h3>Mongodb Set up</h3>
      
    </div>

    <% include ../../includes/end.ejs %>