<%- include('../../includes/header.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../../includes/nav.ejs') %>
    <main>
        <div class="jumbotron text-center">
            <div class="container">
              <h1>
                <%= title %>
              </h1>
              <p>This is the placeholder for Shop Admin</p>
              
            </div>
          </div>
          <div class="container">
            
            
          </div>
    </main>
<%- include('../../includes/end.ejs') %>