<!DOCTYPE html>
<html>

<head>
  <%- include('../../includes/header.ejs') %>

</head>

<body>
    <%- include('../../includes/nav.ejs') %>
    <main>
        <% if (cats.length > 0) { %>
            <div class="grid">
                <% for (let cat of [...new Set(cats)]) { %>
                    <article class="cat-card">
                        <h4 class="cat-title"><%= cat %></h4>
                    </article>
                <% } %>
            </div>
        <% } else { %>
            <h1>No Products Found!</h1>
        <% } %>
    </main>
<%- include('../../includes/end.ejs') %>